.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 50px;
}

.contacto {
  margin: 0;
  font-weight: bold;
}

.contacto span {
  font-weight: lighter;
  color: #0077b6;
}
