.home {
  position: relative;
  overflow: hidden;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--blanco);
}

.home-overlay {
  position: relative;
  z-index: 1; /* Asegura que el texto se sitúe sobre el fondo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:   url('/images/swimming-banner.jpg') center/cover no-repeat;
  z-index: -1; /* Coloca la imagen detrás del texto */
}

.home h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: slideIn 1s ease-out;
}

.home p {
  font-size: 1.5rem;
  max-width: 600px;
  animation: fadeIn 1s 0.5s forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Adaptación para móviles */
@media (max-width: 768px) {
  .home h2 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .home p {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}